::-webkit-scrollbar {
    display: none; 
  }
  .profile-container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none; 
    margin-right: 1rem;
  }
  
  .profile-content {
    color: white;
    text-align: center;
    width: 90%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .profile-content h2 {
    font-size: 2rem; 
  }
  
  .profile-content p {
    font-size: 1.5rem;
  }
  
  .profile-content button {
    font-size: 1.2rem;
    padding: 1rem; 
    background: white; 
    color: black; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  